[Unit]
Description=cOS system rootfs setup
DefaultDependencies=no
After=cos-setup-initramfs.service
Before=sysinit.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=kairos-agent run-stage rootfs

[Install]
WantedBy=sysinit.target