[Unit]
Description=cOS system configuration
Before=getty.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=kairos-agent run-stage boot

[Install]
WantedBy=multi-user.target